		<div class="box">
				<div class="text-center center-block">
					<br />
						<a target="_blank" href="https://www.facebook.com/Capoeira-Costa-Rica-440745449644933/" ><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
						<a target="_blank" href="https://www.instagram.com/capoeiracostarica"><i id="social-in" class="fa fa-instagram fa-3x social"></i></a>
						<!--<a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>-->
						<!--<a target="_blank" href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>-->
						<a target="_blank" href="mailto:costaricacapoeira@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
		</div>	